.venv/
/venv
__pycache__/
/build
/dist
/*.egg-info
/htmlcov
/playground
/.pytest_cache
/.mypy_cache
/.coverage
/.vscode
.git/
*_test.py
*_tests.py
test_*.py
tests_*.py
*_spec.py
*_specs.py
spec_*.py
specs_*.py
